{{#with metadata}}
<title>{{title}}</title>
<meta name="description" content="{{description}}">

{{#each og}}
<meta property="og:{{@key}}" content="{{this}}">
{{/each}}

{{#each twitter}}
<meta name="twitter:{{@key}}" content="{{this}}">
{{/each}}
{{/with}}
